<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <style>
      body {
        background-color: orange;
        color: blue;
      }
    </style>
  </head>
  <body>
    <h1>💈죄송합니다. 해당 url은 접근 불가한 주소입니다.</h1>
    <a href="/">홈으로 이동하기</a>
  </body>
</html>
