body{
    font-weight: bold;
    display:flex;
    flex-direction: column;
}
.header1{
    background-color: #ddd;
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.menus{
    display:flex;
    flex-direction: row;
}
.menus>p{
    margin-left: 10px;
}
.header2{
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header3{
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header4{
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-direction: row;
}
.left>p{
    margin-left: 10px;
}
.right{
    display: flex;
    flex-direction: row;
}
.right > p{
    margin-left: 10px;
}