/* 하위(후손) 선택자: 공백(띄어쓰기) */
body section{
    border: 1px solid blue;
}
body section h2{
    border: 1px solid pink;
}

/* 자식 선택자: > */
.first > h2{
    background-color: navy;
    color: white;
}
.second > h2{
    background-color: white;
    color: navy;
}

/* 인접 형제 선택자: + */
/* + 앞 요소 바로 뒤에, +뒤 요소 있어야 적용 o */
#kong + li{ 
    background-color: aqua;
}

/* 일반 형제 선택자 : ~ */
#kong ~ li{
    color: palevioletred;;
}

/* /* CSS 색상 참고 */
/* https://developer.mozilla.org/ko/docs/Web/CSS/color_value */

/* CSS 색상 표현 */
/* 키워드, 16진수, rgb(0-255, 0-255, 0-255) */
