<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./includes/head", {title:"Login"}) %>
    <style>
      h1 {
        background-color: palegreen;
      }
      h2 {
        background-color: palevioletred;
      }
    </style>
  </head>
  <body>
    <h1>Login Page</h1>
    <h2>Insert ID and Passwords</h2>
    <%for (let i=0; i<2; i++){ %>
    <br /><input type="" name="" id="" />
    <% } %>
  </body>
</html>
