@import './_variables.scss';
@import './_utils.scss';

.title {
  background-color: $title-color;
  color: $st-color;
}

.container {
  background-color: $bg-color;
}

.itemContainer {
  background-color: $title-color;
  color:;
}
