<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <h2>Single File Upload</h2>
    <p>하나의 인풋에 하나의 파일 업로드</p>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <!-- multer 사용 시 enctype="multipart/form-data" 꼭 필요 -->
      <input type="file" name="userfile" id="" /><br />
      <input type="text" name="title" /> <br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>Multi File Upload</h2>
    <p>하나의 인풋에 여러개의 파일 업로드</p>
    <form action="/upload/array" method="POST" enctype="multipart/form-data">
      <!-- 하나의 인풋에 여러 파일 입력받고 싶다면 multiple 속성 추가-->
      <!-- action의 주소 달라야 함 -->
      <input type="file" name="userfiles" id="" multiple /><br />
      <input type="text" name="title" /> <br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>Multi File Upload2</h2>
    <p>여러 인풋에 여러개의 파일 업로드</p>
    <form action="/upload/fields" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfile1" id="" /><br />
      <input type="text" name="title1" /> <br /><br />

      <input type="file" name="userfile2" id="" /><br />
      <input type="text" name="title2" /> <br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>Dynamic File Upload</h2>
    <input type="file" name="dynamicFile" id="dynamicFile" /><br />
    <button type="button" onclick="fileUpload()">업로드</button>
    <br />
    <!-- 업로드 이미지 보여줄 img 태그 -->
    <img src="" alt="" width="200" />

    <script>
      function fileUpload() {
        console.log("동적 파일 업로드");
        // js만으로 폼 전송(파일 데이터 => 서버로 전송해야 하는 케이스)
        // FormData 객체 활용 시 쉽게 전송 가능!
        const formData = new FormData();
        const imgFile = document.querySelector("#dynamicFile");
        console.dir(imgFile);
        console.dir(imgFile.files); //업로드 파일 객체
        console.dir(imgFile.files[0]); //업로드한 첫 파일

        //append(key, value)
        formData.append("dynamicUserFile", imgFile.files[0]);

        axios({
          method: "post",
          url: "/dynamic",
          data: formData,
          header: {
            "Content-Type": "multipart/form-data", //enctype="multipart/form-data"
          },
        }).then((res) => {
          console.log(res);
          const { data } = res;
          console.log("data ", data);
          console.log("/" + data.path);
          document.querySelector("img").src = "/" + data.path;
        });
      }
    </script>
  </body>
</html>
