@mixin box($size) {
  width: $size;
  height: $size;
}

// 실습1
@mixin circle($circleSize) {
  width: $circleSize;
  height: $circleSize;
  border-radius: 50%;
  position: absolute;
}

// 실습2
@mixin anm-move($size) {
  animation: move#{$size} 2s infinite;

  @keyframes move#{$size} {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 0;
      left: $size;
    }
    50% {
      top: $size;
      left: $size;
    }
    75% {
      top: $size;
      left: 0px;
    }
    100% {
      top: 0px;
      left: 0px;
    }
  }
}
