// scss 파일명 앞의 _ 의미
// : 이 파일은 css 파일로 변환될 필요가 없음

$color-first: red;
$color-second: orange;
$color-third: yellow;
$animation-duration: 0.4s;

$breakpoint-sm: 360px;

// 실습1
$color-eye1: white;
$color-eye2: black;

$color-head: palegreen;
$color-body1: violet;
$color-body2: gold;
$color-body3: skyblue;
$color-tale: purple;

// 실습2
$color-c1: pink;
$color-c2: gold;
$color-c3: palegreen;
