@import './variables.scss';
@import './_utils.scss';

.container {
  position: relative;
}
.circle {
  @include circle(50px);
}
.c1 {
  background-color: $color-c1;
  @include anm-move(100px);
}
.c2 {
  background-color: $color-c2;
  @include anm-move(200px);
}
.c3 {
  background-color: $color-c3;
  @include anm-move(300px);
}
